// 
// authentication.scss
//


// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

// auth 2

.auth-logo{
    .auth-logo-dark{
        display: $display-block;
    }
    .auth-logo-light{
        display: $display-none;
    }
}

.auth-body-bg{
    background-color: $card-bg;
}


// auth-pass-inputgroup

.auth-pass-inputgroup{
    input[type="input"] + .btn .mdi-eye-outline{
        &:before{
            content: "\F06D1";
        }
    }
}

// authentication full page

.auth-full-bg{
    background-color: rgba($primary, 0.25);
    display: flex;

    @media (min-width: 1200px){
        height: 100vh;
    }
    

    &::before{
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .bg-overlay{
        background: url("../../../images/bg-auth-overlay.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.auth-full-page-content{
    display: flex;

    @media (min-width: 1200px){
        min-height: 100vh;
    }
}
// @media (min-width: 1430px) {
// .react-tel-input .form-control{
//     width: 435px !important;
// }
// }

// @media (min-width: 992px) {
//     .react-tel-input .form-control{
//         width: 286px;
//     }
//     }

.react-tel-input .form-control{
            width: inherit !important;
        }  
    
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current{
    transform: rotate(270deg) !important;
}
// .lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
//     transform: rotate(270deg) !important;
// }

.react-datepicker__input-container input{
    width: 100% !important;
    height: 38px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
  }
  
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.8125rem !important;
    color: #495057 !important;
    width: 264px !important;
  }
 .MuiTabs-indicator{
    background-color: purple !important;
}
.auth-review-carousel{
    &.owl-theme {
        .owl-dots {
            .owl-dot{
                span{
                    background-color: rgba($primary, 0.25);
                }
                &.active, &:hover{
                    span{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

.rbc-month-view {
   flex: inherit !important;
    height: 600px !important;
  }
  .rbc-allday-cell {
    display: none;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 38px;
border-radius: 5px;
border-color: black !important;
  }

  
  .row-height {
    height: 5rem !important;
    white-space: nowrap;
  }